<div class="popup auth">
  <div class="popup-title">
<!--    {{> icons login=true}}-->
    <h2 class="popup-title__text">Войти</h2>
  </div>
  <form action="#" class="auth-form">
    {{{ inputLogin }}}
    {{{ inputPassword }}}
  </form>
</div>
