.auth-form {
  display: flex;
  flex-direction: column;
}

.settings-input {
  padding: 10px 0;
  border: none;
  font-size: 13px;
  line-height: 13px;
  text-align: end;
  color: #999999;
  font-weight: 500;

  &[readonly]:focus {
    outline: none;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .base-input-error {
      opacity: 0;
      transition: .3s;
      flex: 1;
      text-align: end;
      font-size: 13px;
      line-height: 13px;
      color: $danger-color;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid #EAEAEA;
    }

    &.error {
      .base-input-error {
        opacity: 1;
      }
    }
  }

  .settings-label {
    font-size: 13px;
    line-height: 13px;
  }
}

.base-input {
  &-wrapper {
    position: relative;
    margin-bottom: 45px;

    .base-input {
      width: 100%;
      border-radius: $base-border-radius;
      border: 1px solid $base-color;
      padding: 12px 10px;
      max-height: 37px;

      /* stylelint-disable no-descending-specificity */
      &-error {
        transition: .3s;
        opacity: 0;
        color: $danger-color;
        font-size: 10px;
        line-height: 12px;
        padding: 0 10px;
        position: absolute;
        bottom: -16px;
      }

      &:focus {
        border: 1px solid $focus-color;
        outline: none;
      }
      /* stylelint-enable */
    }

    &.error {
      .base-input {
        border: 1px solid $danger-color;
      }

      .base-input-error {
        opacity: 1;
      }
    }

    .base-label {
      position: absolute;
      color: $placeholder-color;
      width: 100%;
      font-size: 12px;
      line-height: 16px;
      padding: 10px;
      transition: .2s;
      cursor: text;
    }

    &.active {
      .base-label {
        font-size: 10px;
        line-height: 12px;
        padding: 5px 10px;
      }

      .base-input {
        padding: 18px 10px 4px;
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 22px;
    }
  }
}
