<div class="chat-preview">
  <div class="chat-preview__avatar">

  </div>
  <div class="chat-preview__wrapper">
    <div class="chat-preview__wrapper-name">{{ name }}</div>
    <div class="chat-preview__wrapper-text">{{ lastMessage }}</div>
  </div>

  <div class="chat-preview__time">
    <div class="chat-preview__last-message">{{ lastMessageTime }}</div>
    <div class="chat-preview__message-qty">{{ lastMessagesQty }}</div>
  </div>
</div>
