@import "reset";
@import "fonts";
@import "variables";
@import "src/pages/staticPages/static";
@import "src/pages/login/login";
@import "src/pages/account/settings";
@import "src/components/input/input";
@import "src/components/button/button";
@import "src/components/modal/modal";

body {
  background: $base-gradient;
  font-family: $base-font;
}

main {
  height: 100%;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 8px;
  max-width: 340px;
  width: 100%;

  &.auth {
    padding: 30px 30px 10px;
  }

  &-title {
    display: flex;
    justify-content: space-between;
    color: $base-color;
    font-size: 20px;
    line-height: 22px;
    text-align: right;
    margin-bottom: 35px;
  }

  &-title__icon {
    width: 24px;
    fill: $base-color;

    &.user {
      margin-left: 5px;
    }
  }

  &-links {
    display: flex;
    flex-direction: column;

    &__item {
      margin-bottom: 10px;
      color: $base-color;
      text-decoration: none;
      position: relative;
      align-self: flex-start;
      font-size: 13px;
      line-height: 15px;

      &:hover {
        &::before {
          content: '';
          height: 1px;
          width: 100%;
          position: absolute;
          bottom: -3px;
          left: 50%;
          transform: translateX(-50%);
          background-color: $base-color;
        }
      }
    }
  }
}
