$base-color: #232C39;
$base-color-hover: #374151;
$base-gradient: linear-gradient(69.72deg, #1F2737 1.16%, #374151 71.96%);
$base-font: Inter, Arial, sans-serif;
$base-border-radius: 8px;
$focus-color: #E3AB57;
$placeholder-color: #AFB0B4;
$danger-color: #711819;
$danger-hover: #803231;
