<section class="static-page">
  <div class="static-page__error">
    <h1 class="static-page__error-title">{{ errorCode }}</h1>
    <p class="static-page__error-description">{{ errorDescription }}</p>
    <a class="static-page__error-link" href="/">{{ errorLink }}</a>
  </div>
</section>
