<section class="static-page">
  <div class="static-page__error">
    <h1 class="static-page__error-title">404</h1>
    <p class="static-page__error-description">Такой страницы нет</p>
    <a class="static-page__error-link" href="/">Назад к чатам</a>
  </div>
</section>
