<div class="popup">
  <h2 class="popup-title">Навигация:</h2>
  <ul class="popup-links__list">
    {{#each links}}
      <li class="popup-links__item">
        <a class="popup-links__link" href="{{ href }}">{{ title }}</a>
      </li>
    {{/each}}
  </ul>
</div>

