<div class="chats">
  <aside class="chats-left">
    <input class="search" type="text" placeholder="Поиск" aria-label="Поиск">
    <div class="chats-previews__wrapper">
      {{{ chatPreview1 }}}
      {{{ chatPreview2 }}}
    </div>
    <div class="chats-left__footer">
      {{{ buttonToProfile }}}
    </div>
  </aside>
  <div class="chat">
    <div class="chat-header">
      <div class="chat-photo">

      </div>
      <div class="chat-name">
        Иван Иванов
      </div>
    </div>
    <div class="chat-window">

    </div>
    <div class="chat-footer">
      <button class="chat-attach action-button">
        attach
      </button>
      <input class="chat-message" type="text" aria-label="message" placeholder="Сообщение">
      <button class="chat-send action-button">Send</button>
    </div>
  </div>
</div>
