<div class="chats">
  <aside class="chats-left">
    <input class="search" type="text" placeholder="Поиск" aria-label="Поиск">
    <div class="chats-previews__wrapper">
      {{{ chatPreview1 }}}
      {{{ chatPreview2 }}}
    </div>
    <div class="chats-left__footer">
      {{{ buttonToProfile }}}
    </div>
  </aside>
</div>
