<div class="popup">
  <h2 class="popup-title">Навигация:</h2>
  <div class="popup-links">
    <a class="popup-links__item" href="/login">Страница логина</a>
    <a class="popup-links__item" href="/signin">Страница регистрации</a>
    <a class="popup-links__item" href="/account-settings">Страница настроек аккаунта</a>
    <a class="popup-links__item" href="/account-edit">Страница редактирования данных</a>
    <a class="popup-links__item" href="/change-password">Страница изменения пароля</a>
    <a class="popup-links__item" href="/server-error">Страница 500 ошибки</a>
    <a class="popup-links__item" href="/any-url-that-does-not-exist">Страница 404 ошибки</a>
  </div>
</div>

